{ inner_client, lisent_port, 8080 }.
{ inner_client, bind_address, any }.
{ inner_client, timeout, 1000 }.

{ http_viewer, port, 8888 }.
{ http_viewer, error_log, "error.log"}.
{ http_viewer, security_log, "security.log"}.
{ http_viewer, transfer_log, "transfer.log"}.
{ http_viewer, document_root, "/home/mproxy_app/www" }.
{ http_viewer, server_root, "/home/mproxy_app/log" }.
{ http_viewer, server_name, "mproxy_app" }.
{ http_viewer, bind_address, any }.




{ memcached, is_uses, true }.
{ memcached, servers, [[{ 127, 0, 0, 1 }, 11211 ]] }.
{ memcached, namespace, "m" }.

{ logger_access, dir, "/Users/ostrovok/Documents/FCGI/logs/" }.
{ logger_access, file_format, "mlog_access.log" }.
{ logger_access, file_format_day, "mlog_access~4..0B~2..0B~2..0B.log" }.
{ logger_access, file_format_hour, "mlog_access~4..0B~2..0B~2..0B_~2..0B.log" }.
{ logger_access, file_format_minute, "mlog_access~4..0B~2..0B~2..0B_~2..0B_~2..0B.log" }.
{ logger_access, file_rotate, day }.

{ logger_error, dir, "/Users/ostrovok/Documents/FCGI/logs/" }.
{ logger_error, file_format, "mlog_error.log" }.
{ logger_error, file_format_day, "mlog_error~4..0B~2..0B~2..0B.log" }.
{ logger_error, file_format_hour, "mlog_error~4..0B~2..0B~2..0B_~2..0B.log" }.
{ logger_error, file_format_minute, "mlog_access~4..0B~2..0B~2..0B_~2..0B_~2..0B.log" }.
{ logger_error, file_rotate, day }.

{ logger_send, dir, "/Users/ostrovok/Documents/FCGI/logs/" }.
{ logger_send, file_format, "mlog_send.log" }.
{ logger_send, file_format_day, "mlog_send~4..0B~2..0B~2..0B.log" }.
{ logger_send, file_format_hour, "mlog_send~4..0B~2..0B~2..0B_~2..0B.log" }.
{ logger_send, file_format_minute, "mlog_access~4..0B~2..0B~2..0B_~2..0B_~2..0B.log" }.
{ logger_send, file_rotate, day }.

{ mproxy_client_http, timeout, 180000 }.
{ mline_client_http, timeout, 180000 }.
